<aside class="sidebar">
  <div class="sidebar-menu">
    <a href="/user-app/dashboard" class="menu-item">
      Dashboard
    </a>
    <a href="/Groups/community/" class="menu-item">
      <span class="menu-text"> Group<i class="fa-solid fa-user-group"></i></span>
      
    </a>
    <a href="/Groups/group-member" class="menu-item">
     <span class="menu-text"> Member
      <i class="fas fa-plus"></i></span>
    </a>
    <a href="/Discussion-chat.html" class="menu-item disabled" aria-disabled="true">
            <span class="menu-text">Discussion/Chat <i class="fas fa-comment"></i></span>
            <span class="coming-soon">Coming Soon</span>
        </a>
    <a href="/user-app/Announcement" class="menu-item ">
     <span class="menu-text">Announcement <i class="fas fa-bullhorn"></i></span> 
     
    </a>
    <a href="/Events-meetings.html" class="menu-item disabled">
     <span class="menu-text">Events/Meetings<i class="fas fa-calendar"></i></span> 
      <span class="coming-soon">Coming Soon</span> 
    </a>
    <a href="/pay/Pay-received-ss" class="menu-item ">
     <span class="menu-text">Monthly Membership <i class="fas fa-users"></i></span> 

    </a>
    <a href="/kyc/KYCverification" class="menu-item ">
      
     <span class="menu-text">KYC Verification <i class="fas fa-shield-alt"></i></span> 
    </a>
    <a href="/Media-gallery.html" class="menu-item disabled">
     <span class="menu-text">Media Gallery <i class="fas fa-images"></i></span>  
      <span class="coming-soon">Coming Soon</span>
    </a>
    <a href="/Whatsapp-sms.html" class="menu-item disabled">
     <span class="menu-text"> Whatsapp & SMS <i class="fas fa-message"></i></span> 
      <span class="coming-soon">Coming Soon</span>
    </a>
  </div>
</aside>