<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
   
        <link rel="stylesheet" href="/css/superadmin.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"> --}}
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>{{title}}</title>

    <!-- Fontfaces CSS-->
    <link href="/superadmin-frontend/css/font-face.css" rel="stylesheet" media="all">
    <link href="/superadmin-frontend/vendor/fontawesome-7.0.1/css/all.min.css" rel="stylesheet" media="all">
    <link href="/superadmin-frontend/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/superadmin-frontend/vendor/bootstrap-5.3.8.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/superadmin-frontend/css/aos.css" rel="stylesheet" media="all">
    <link href="/superadmin-frontend/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/superadmin-frontend/css/swiper-bundle-11.2.10.min.css" rel="stylesheet" media="all">
    <link href="/superadmin-frontend/vendor/perfect-scrollbar/perfect-scrollbar-1.5.6.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/superadmin-frontend/css/theme.css" rel="stylesheet" media="all">
    
    <link href="/superadmin-frontend/css/super-main.css" rel="stylesheet" media="all">
    
</head>
<body>
    {{{body}}}
</body>
</html>
